:root {
  --primary: hsl(217, 99%, 26%);
  --gray: hsl(217, 11%, 64%);
  --white: hsl(216, 100%, 95%);
  --highlight: rgba(251, 255, 38, 0.493);
}

body {
  font-family: 'Indie Flower', cursive;
  font-size: 1.2rem;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-areas: 
    "header header"
    "nav img_card__container"
    "footer footer";
  grid-gap: 5%;
  background-color: white;
  width: 100%;
}

.header {
  background-color: var(--primary);
  color: var(--white);
  display: grid;
  align-items: center;
  justify-items: center;
  grid-area: header;
  margin-bottom: 0%;
  width: 100%;
}

.header__title {
  font-size: 2.8rem;
  margin: 0;
  font-family: 'Pacifico', cursive;
  color: white;
}

.nav__container {
  box-shadow: var(--gray) 4px 4px 10px 2px;
  display: grid;
  row-gap: 24px;
  grid-template-columns: 1fr;
  min-width: 200px;
  justify-items: center;
  padding: 12px 0 24px;
}

.nav__link, .nav__link--active {
  text-decoration: none;
  color: var(--primary);
  position: relative;
}
.nav__link::after, .nav__link--active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  margin-left: -90px;
  border-bottom: var(--primary) 1px solid;
  width: 180px;
}

.nav__link--active {
  box-shadow: inset var(--highlight) 200px 0px 0px 1px;
  padding: 0 70px;
}

.img_card {
  width: 300px;
  box-shadow: var(--gray) 4px 4px 10px 2px;
  border-radius: 3px;
}

.img_card__img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.img_card__text {
  padding: 0 12px;
  color: black;
}

.footer {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-area: footer;
  color: black;
}

.img_card__container {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 2.5fr 2.5fr;
  grid-gap: 2%;
  grid-area: img_card__container;
  width: 100%;
}

.nav {
  grid-area: nav;
}




@media screen and (max-width: 1100px) {
  body {
    font-family: 'Indie Flower', cursive;
    font-size: 100%;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1%;
    background-color: white;
    width: 100%;
    grid-template-areas:
      "header"
      "nav"
      "img_card__container"
      "footer";
  }  

  .header {
    background-color: var(--primary);
    color: var(--white);
    display: grid;
    align-items: center;
    justify-items: center;
    grid-area: header;
    margin-bottom: 0%;
    width: 100%;
  }

  .img_card__container {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0%;
    grid-area: img_card__container;
    width: 100%;
  }

  .header__title {
    font-size: 2rem;
  }
  .nav__container {
    width: 80vw;
    min-width: 300px;
    grid-template-columns: repeat(4, 1fr);
  }
  .nav__link, .nav__link--active {
    text-decoration: underline;
  }
  .nav__link--active {
    padding: 0;
  }
  .nav__link::after, .nav__link--active::after {
    display: none;
  }

  .nav {
    grid-area: nav;
    width: 100%;
  }

  .footer {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-area: footer;
    color: black;
  }
}
